{% extends 'comun/base.html' %}
{% import 'comun/genero.html' as genero %}
{% import 'comun/lugares.html' as lugares %}

{% block content %}
<div class="container p-2">
    <h2>Crear Nueva Persona</h2>
    <form id="crear-persona-form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre"
                    value="{{ formulario_data.get('nombre', '') }}">
            </div>
            <div class="col mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido"
                    value="{{ formulario_data.get('apellido', '') }}">
            </div>
            <div class="col mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                    value="{{ formulario_data.get('email', '') }}">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="birthdate" class="form-label">Fecha de Nacimiento (d-m-año)</label>
                <input type="text" class="form-control" id="birthdate" name="birthdate"
                    value="{{ formulario_data.get('birthdate', '') }}">
            </div>
            <div class="col mb-3">
                <label for="personal_id" class="form-label">DNI / Cedula</label>
                <input type="text" class="form-control" id="personal_id" name="personal_id"
                    value="{{ formulario_data.get('personal_id', '') }}">
            </div>
            <div class="col mb-3">
                {{ genero.campo_genero("" ) }}
            </div>
        </div>
        <div class="row mb-3">
            {{ lugares.campos_lugares("", "", "", "") }}
        </div>
        <div class="col mb-3 text-center">
            <button class="btn btn-success btn-sm" type="submit" id="crear-persona">Crear Persona</button>
        </div>
    </form>
    <a class="btn btn-primary" href="{{ url_for('routes_personas.obtener_lista_paginada') }}">Volver a la Lista</a>
</div>
{% endblock %}