{% extends 'comun/base.html' %}
{% import 'comun/genero.html' as genero %}
{% import 'comun/lugares.html' as lugares %}
{% import 'comun/modal_carreras_personas.html' as agregar_carrera %}

{% block content %}
<div class="container p-2">
    <h2>Editar Persona</h2>
    <form id="editar-persona-form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ persona.nombre }}">
            </div>
            <div class="col mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" value="{{ persona.apellido }}">
            </div>
            <div class="col mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ persona.email }}">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="birthdate" class="form-label">Fecha de Nacimiento (d-m-año)</label>
                <input type="text" class="form-control" id="birthdate" name="birthdate"
                    value="{{ persona.birthdate.strftime('%d-%m-%Y') }}">
            </div>
            <div class="col mb-3">
                <label for="personal_id" class="form-label">DNI / Cedula</label>
                <input type="text" class="form-control" id="personal_id" name="personal_id"
                    value="{{ persona.personal_id }}">
            </div>
            <div class="col mb-3">
                {{ genero.campo_genero(persona.genero.nombre) }}
            </div>
        </div>
        <div class="row mb-3">
            {{ lugares.campos_lugares(persona.lugar.pais.nombre, persona.lugar.provincia.nombre,
            persona.lugar.ciudad.nombre, persona.lugar.barrio.nombre) }}
        </div>
        <div class="col mb-3 text-center">
            <button class="btn btn-success btn-sm" type="submit" id="guardar-persona">Guardar Cambios</button>
        </div>
    </form>


    <div id="carreras-list">
        <h3>Carreras</h3>
        <button class="btn btn-primary" data-toggle="modal" data-target="#agregarModal{{ persona.id }}">Nueva asignación</button>
        <table id="carreras" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Universidad</th>
                    <th>Facultad</th>
                    <th>Campus</th>
                    <th>Programa</th>
                    <th>Rol</th>
                    <th style="width:1%"></th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se cargaran los datos -->
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ url_for('routes_personas.obtener_lista_paginada') }}">Volver a la Lista</a>
</div>

			<!-- Modal para agregar carrera -->
			{{ agregar_carrera.asignar_carrera(persona.id) }}

<script>
        var id_persona = {{ persona.id }};
        var dataTable = $('#carreras').DataTable({
            language: { url: 'http://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json' }
        });
            // Función para cargar los datos desde la API
            function cargarDatos(id) {
            $.ajax({
                url: '/api/carreras/obtener_carreras',
                method: 'POST',
                data: JSON.stringify({ id_persona: id }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    // Verificar si la consulta fue exitosa
                    if (data.Exito) {
                        // Limpiar la tabla antes de agregar los datos
                        dataTable.clear().draw();

                        // Recorrer la lista de resultados y agregar cada fila a la tabla
                        $.each(data.Resultado, function (index, carrera) {
                            var botonEliminar = '<button class="btn btn-danger eliminarButton" data-id="' + carrera.id + '"><i class="fa-regular fa-trash-can"></i></button>';
                            dataTable.row.add([
                                carrera.universidad,
                                carrera.facultad,
                                carrera.campus,
                                carrera.programa,
                                carrera.rol,
                                botonEliminar
                            ]).draw();
                        });
                    } else {
                        // Si la consulta no fue exitosa, mostrar un mensaje de error
                        alert('Error: ' + data.MensajePorFallo);
                    }
                },
                error: function () {
                    // En caso de error en la solicitud AJAX
                    alert('Error al cargar los datos desde la API.');
                }
            });
        }

    $(document).ready(function () {
        // Asociar un controlador de eventos a los botones de eliminación
        $(document).on('click', '.eliminarButton', function () {
            var id = $(this).data('id');
            confirmarEliminacion(id);
        });

        // Función para confirmar la eliminación
        function confirmarEliminacion(id) {
            if (window.confirm('¿Está seguro de que desea eliminar este registro?')) {
                eliminarRegistro(id);
            }
        }

        // Función para eliminar un registro
        function eliminarRegistro(id) {
            $.ajax({
                url: '/api/carreras/eliminar',
                method: 'DELETE',
                data: JSON.stringify({ id: id }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    if (data.Exito) {
                        // Recargar los datos después de eliminar un registro exitosamente
                        cargarDatos(id_persona);
                    } else {
                        alert('Error al eliminar el registro: ' + data.MensajePorFallo);
                    }
                },
                error: function () {
                    alert('Error al enviar la solicitud de eliminación.');
                }
            });
        }

        // Cargar los datos inicialmente
        cargarDatos(id_persona);

    });
</script>
{% endblock %}