{% extends 'comun/base.html' %}
{% import 'comun/modal_eliminar.html' as modal_eliminar %}

{% block content %}
<div class="container p-2">
	<h2 class="text-center">Personas</h2>
	<div class="row">
		<div class="mr-2">
			<a class="btn btn-success mb-3" href="{{ url_for('routes_personas.crear_persona') }}">Agregar persona</a>
		</div>
		<div>
			<form method="GET" action="{{ url_for('routes_personas.generar_excel') }}" class="mb-3">
				<button class="btn btn-info mb-3" type="submit"><i class="fa-regular fa-file-excel"></i></button>
			</form>
		</div>
	</div>

	<form method="GET" action="{{ url_for('routes_personas.obtener_lista_paginada') }}" class="mb-3">
		<div class="row">
			<div class="col-10">
				<div class="row">
					<div class="col-md-3">
						<input type="text" class="form-control" name="nombre" placeholder="Nombre"
							value="{{ filtros.get('nombre', '') }}">
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" name="apellido" placeholder="Apellido"
							value="{{ filtros.get('apellido', '') }}">
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" name="email" placeholder="Email"
							value="{{ filtros.get('email', '') }}">
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" name="personal_id" placeholder="DNI / Cedula"
							value="{{ filtros.get('personal_id', '') }}">
					</div>
				</div>
			</div>

			<div class="col-2">
				<button type="submit" class="btn btn-primary"><i class="fa-solid fa-filter"></i></button>
			</div>
		</div>
	</form>

	<div id="personas-list"></div>
	<table id="personas" class="display" style="width:100%;">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Edad</th>
				<th>Genero</th>
				<th></th>
				<!-- ... (otros encabezados) ... -->
			</tr>
		</thead>
		<tbody>
			{% for persona in personas %}
			<tr>
				<td>{{ persona.id }}</td>
				<td>{{ persona.nombre }}</td>
				<td>{{ persona.apellido }}</td>
				<td>{{ persona.email }}</td>
				<td>{{ persona.age }}</td>
				<td>{{ persona.genero.nombre }}</td>
				<!-- ... (otros campos) ... -->
				<td>
					<a href="{{ url_for('routes_personas.editar_persona', persona_id=persona.id) }}"
						class="btn btn-success"><i class="fa-regular fa-pen-to-square"></i></a>
					<button class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal{{ persona.id }}"><i
							class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			<!-- Modal para confirmar la eliminación -->
			{{ modal_eliminar.confirmar_eliminar(
			persona.id,
			url_for('routes_personas.eliminar_persona', persona_id=persona.id),
			'¿Estás seguro de que deseas eliminar a ' ~ persona.nombre ~ ' ' ~ persona.apellido ~ '?'
			) }}

			{% endfor %}
		</tbody>
	</table>

</div>
<a class="btn btn-primary" href="{{ url_for('routes.index') }}">Volver a Inicio</a>
</div>

<script>
	$(document).ready(function () {
		var table = $('#personas').DataTable({
			language: {
				url: 'http://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
			},
		});

	});
</script>

{% endblock %}